<div class='panel-body'>
    <div class="filter" *ngIf="tasks && tasks.length">
        <div class='row'>
            <div class='col-md-2'>Filter by Task name:</div>
            <div class='col-md-4'>
                <input type='text' [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class='row' >
            <div class='col-md-6'>
                <h3>Filtered by : {{listFilter}} </h3>
            </div>
        </div>
    </div>
    <div class='table-responsive'>
        <table class='table' *ngIf="tasks && tasks.length">
            <thead>
            <tr>
                <th>

                </th>
                <th>Task</th>
                <th>Description</th>
                <th>Comments</th>
                <th>Deadline</th>
                <th></th>
            </tr>
            </thead>
            <tbody >
                <tr
                        [ngClass]="{'checked': check.checked }"
                        *ngFor="let task of tasks | taskFilter:listFilter"
                        #tr
                        (change)="finished(check, tr)"
                >
                    <td><input
                            type="checkbox"
                            #check
                            (change)="onCheck(task)"
                            [checked] = "task.isDone"
                            ></td>
                    <td><a
                            (click)="onSelect(task)"

                            >{{task.title}}</a></td>
                    <td>{{task.description}}</td>
                    <td><span class="badge">{{task.comments?.length}}</span></td>
                    <td>{{task.deadline | date}}</td>
                    <td><button
                            class="btn btn-danger"
                            [disabled]="!check.checked"
                            (click)="removeTask(task)"
                    >Del</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>